<html>
    <body>
        <center>
            <form action='/saveData/' method="GET">
                <table border='1'>
                    <tr>
                        <td>First Name</td>
                        <td>:</td>
                        <td><input type="text" name="fname" placeholder="Enter your First Name"></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>:</td>
                        <td><input type="text" name="lname" placeholder="Enter your Last Name"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td><input type="text" name="email" placeholder="Enter your Email"></td>
                    </tr>
                    <tr>
                        <td>Contact Number</td>
                        <td>:</td>
                        <td><input type="text" name="contact_no" placeholder="Enter your Conatact Number"></td>
                    </tr>
                </table>
                <input type="Submit" value="Save Details">
            </form>
            <a href='getData/'>Display Details</a>
        </center>
    </body>
</html>